
services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    pull_policy: if_not_present
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}
  tika:
    image: apache/tika:latest-full
    container_name: tika
    ports:
      - "9998:9998"
    # restart: unless-stopped

  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
      - 'DEFAULT_MODELS'
      - 'WEBUI_AUTH'
      - 'ENABLE_EVALUATION_ARENA_MODELS'
      - 'WEBUI_NAME'
      - 'GOOGLE_DRIVE_CLIENT_ID'
      - 'GOOGLE_DRIVE_API_KEY'

    extra_hosts:
      - host.docker.internal:host-gateway
    # restart: unless-stopped
    networks:
      - openwebui-net
volumes:
  ollama: {}
  open-webui: {}

networks:
  openwebui-net:
    external: true